<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" 
	layout:decorate="~{layout}">

<head>
<meta charset="UTF-8" />
</head>

<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main">
		
			<div class="album py-5 bg-light">
				<h2 class="d-flex justify-content-center">Cadastro de Afiliado</h2>
				<div class="container">

					<div class="d-flex justify-content-center">
						<div class="col-md-12">

							<div th:replace="~{fragments/alert2  :: alerta-sucesso}"></div>

							<div class="add-toast position-absolute" aria-live="polite"
								aria-atomic="true" style="top: 0px; right: 20px;">
								<!--toast-->
							</div>

							<form
								th:action="${afiliado.id == null} ? @{/afiliados/salvar} : @{/afiliados/editar}"
								th:object="${afiliado}" method="POST" class="was-validated">
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="nome" class="form-group">Nome Completo</label> <input
											type="text" class="form-control" th:field="*{nome}" id="nome"
											placeholder="Afiliado da Silva Start" required />
										<div class="invalid-feedback">Nome completo é requerido.</div>
									</div>
								</div>

								<div id="especialidades-selecionadas">
									<div class="form-group">
										<label for="autocomplete-especialidades">Especialidade(s)</label>
										<input type="text" id="autocomplete-especialidades"
											class="form-control" placeholder="suas especialidade são..." />
										<small class="form-text text-muted">Insira suas
											especialidades de afiliados.</small>

									</div>
								</div>
								<!-- _________________________________________listaEspecializacoes___________________________________________________ -->
								<div id='listaEspecializacoes'>
									<input type="hidden" name="especialidades" value="" />
								</div>

								<input type="hidden" name="uid" th:field="*{usuario.id}">
								<input type="hidden" name="id" th:field="*{id}">

								<div class="form-group row">
									<div class="col-sm-10">
										<button type="submit" class="btn btn-primary"
											data-toggle="tooltip" data-placement="right" title="Salvar">
											Salvar <i class=" col-md-2 fas fa-save"
												style="font-size: 20px"></i>
										</button>
									</div>
								</div>
							</form>
							<!-- ____________________________________________________________________________________________ -->
							<hr />

							<h2 class="d-flex justify-content-center">Especialidades de
								Afiliados</h2>
							<table id="table-afiliado-especializacao"
								class="table table-sm table-striped table-bordered nowrap"
								style="width: 100%">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Especialidade</th>
										<th scope="col">Excluir</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>

		</main>

	</section>
	<script	th:src="@{/js/afiliado.js(v=${version})}"	th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	$(document).ready(function () {
		moment.locale('pt-BR');
		var idAfiliado = [[${afiliado.id != null ? afiliado.id : 0}]];
		if (idAfiliado != 0) {
			var table = $('#table-afiliado-especializacao').DataTable({
				searching: false,
				lengthMenu: [5, 10, 15, 20],
				processing: true,
				serverSide: true,
				responsive: true,
				ajax: {
					url: '/especialidades/datatables/server/afiliado/' + idAfiliado,
					data: 'data'
				},
				columns: [
					{data: 'id'},
					{data: 'titulo'},
					{orderable: false,
					 data: 'id',
						"render": function(id) {
							return '<a class="btn btn-danger btn-sm btn-block" href="/afiliados/id/' + idAfiliado + '/excluir/especializacao/' +
								id +'" role="button" data-toggle="modal" data-target="#confirm-modal"><i class="fas fa-times-circle"></i></a>';
						}
					}
				]
			});
		}
	});   
	</script>
</body>
</html>