<div class="col-md-3" th:each="fisi : ${listaFisicos}">

	<figure class="card card-product">
		<div th:id="${fisi.id}" class="card">
			<!-- Imagem -->
			<div class="img-wrap bg-light text-dark">

				<div class="input-box">
					<div class="card img-wrap bg-light">
						<div class="card_image_list">

							<label class="noteID1 badge badge-pill text-white" style="font-size: 14px"
								th:text="|${#strings.abbreviate(fisi.categoria.titulo, 16)}|"></label>

							<label class="noteID2 badge badge-pill badge-warning text-dark" style="font-size: 14px"
								th:text="|${#strings.abbreviate(fisi.formato.titulo, 16)}|"></label>

							<a class="noteID_3 badge badge-pill badge-success text-white" target="_blank"
								rel="noopener noreferrer" th:href="${fisi.checkout}">Check Out</a>

							<a class="noteID4 badge badge-pill badge-primary text-white" target="_blank"
								rel="noopener noreferrer" th:href="${fisi.link}">Produtor</a>

							<label class="noteID5 badge badge-pill badge-warning text-white"
								th:text="|R$:${#strings.abbreviate(fisi.valorProduto.valor, 15)}|"></label>

							<img alt="Image" class="img_prod_maior" th:src="|/imagemFisico/${fisi.id}|" />

						</div>
					</div>
				</div>

				<div class="input-box" style="font-weight: 600">
					<label class="title text-dots text-secondary ml-1" style="text-align: center"
						th:text="|${#strings.abbreviate(fisi.nome, 43)}|"></label>
				</div>
				<hr class="id_hr2">
				<hr class="id_hr3">

				<p style="text-align: center">
					<span th:text="| Referencia do ${fisi.categoria.titulo}.|"></span><br>

					<span th:text="| Esse ${fisi.categoria.titulo}|"></span>
					<span th:text="| É ${fisi.formato.titulo},|"></span>
					<span th:text="| Está No Valor De R$:${fisi.valorProduto.valor}, |"></span>
					<span th:text="| Com O Desconto Aprocimadamente De ${fisi.pctgDesconto.desconto}% OFF|"></span>
					<span th:text="| Neste ${fisi.categoria.titulo},|"></span>
					<span th:text="| Com Parcelas de ${fisi.qtdParcela.parcelamento}x|"></span>
					<span th:text="| De R$: ${fisi.valorParcela.valor} Por Mes.|"></span>
				</p>

				<p style="text-align: center">
					Toda Descrição Do <span th:text="| ${fisi.formato.titulo} |"></span> Na Pagina do
					Produtor, No CHECK OUT Ou Em SAIBA MAIS.
				</p>
				<hr class="id_hr1">



				<div class="price-wrap h4" style="text-align:center">
					<span class="price-new badge badge-pill badge-danger ml-1"><span
							th:text="|R$:${fisi.valorProduto.valor}|"></span></span>
				</div>
				<div class="form-row" style="text-align:center">
					<div class="form-group col-md-6">
						<a class="btn btn-success btn-sm" target="_blank" rel="noopener noreferrer"
							th:href="${fisi.checkout}">CHECK OUT</a>
					</div>
					<div class="form-group col-md-5">
						<a class="btn btn-primary btn-sm" target="_blank" rel="noopener noreferrer"
							th:href="${fisi.link}">SAIBA MAIS</a>
					</div>
				</div>


			</div>
		</div>
	</figure>
</div>