<div class="dropdown-menu" aria-labelledby="dropdown03">
	<a class="dropdown-item" th:href="@{/categorias}">
		<i class="fa-solid fa-file-export fa-lg"> </i> Categoria</a>

	<a class="dropdown-item" th:href="@{/formatos}">
		<i class="fa-brands fa-docker fa-lg"> </i> Formato</a>

	<a class="dropdown-item" th:href="@{/porcliks}">
		<i class="fa-solid fa-computer-mouse fa-lg"> </i>&emsp;Comissão Por Click</a>

	<div class="dropdown-divider"></div>
	<a class="dropdown-item" th:href="@{/valorProdutos}">
		<i class="fa-solid fa-hand-holding-dollar fa-lg"> </i> Valor Produtos</a>

	<a class="dropdown-item" th:href="@{/valorParcelas}">
		<i class="fa-brands fa-cc-amazon-pay fa-lg"> </i> Valor Parcelas</a>

	<div class="dropdown-divider"></div>
	<a class="dropdown-item" th:href="@{/qtdParcelas}"> 
		<i class="fa-solid fa-superscript fa-lg"> </i> Parcela</a>
	
	<a class="dropdown-item" th:href="@{/pctgDescontos}"> 
		<i class="fa-solid fa-percent fa-lg"> </i> Porcentagem </a>

	<div class="dropdown-divider"></div>
	<a class="dropdown-item" th:href="@{/fornecedores}">
		<i class="fa-solid fa-truck-field-un fa-lg"> </i> Fornecadores	</a>

	<div class="dropdown-divider"></div>
	<a class="dropdown-item" th:href="@{/}">
		<i class="fa-solid fa-layer-group fa-lg"></i> Histórico de Produtos</a>
</div>