<div class="dropdown-menu" aria-labelledby="dropdown03">

	<a class="dropdown-item" th:href="@{/listarCursos}">
		<i class="fa-solid fa-graduation-cap fa-lg"></i> Cursos
		Info</a>

	<a class="dropdown-item" th:href="@{/listarFisicos}">
		<i class="fa-brands fa-shopify fa-lg"></i> Produto
		Físico</a>

	<a class="dropdown-item" th:href="@{/listarLivros}">
		<i class="fa-solid fa-book fa-lg"></i> Livros
		Info</a>

	<a class="dropdown-item" th:href="@{/listarIndicados}">
		<i class="fa-solid fa-globe fa-lg"></i> Web
		Indicação</a>

	<a class="dropdown-item" th:href="@{/listarParceiros}">
		<i class="fa-solid fa-repeat fa-lg"></i>
		Plataforma Parceira</a>

	<a class="dropdown-item" th:href="@{/listarProdutos}">
		<i class="fa-solid fa-network-wired fa-rotate-90"></i> Produto
		Aleatorio</a>

	<div class="dropdown-divider"></div>
	<a class="dropdown-item" th:href="@{/}"> <i class="fa-solid fa-layer-group fa-lg"></i> Histórico de
		Produtos</a>

</div>