<a class="navbar-brand " th:href="@{/}"> <img class="afiliado_A" th:src="@{'/image/favicon.png'}" /></a>
<a class="btn btn-dark " th:href="@{/Produtos}" sec:authorize="!isAuthenticated()" />Produto</a>
<a class="btn btn-dark " th:href="@{/Cursos}" sec:authorize="!isAuthenticated()" />Curso</a>
<a class="btn btn-dark " th:href="@{/Livros}" sec:authorize="!isAuthenticated()" />Livro</a>
<a class="btn btn-dark " th:href="@{/Fisicos}" sec:authorize="!isAuthenticated()" />Físico</a>
<a class="btn btn-dark " th:href="@{/Indicados}" sec:authorize="!isAuthenticated()" />Indicado</a>
<a class="btn btn-dark " th:href="@{/Parceiros}" sec:authorize="!isAuthenticated()" />Parceiro</a>